.card {
  width: 380px;
  margin: 20px;
  display: flex;
}

.card::after {
  content: "";
  display: block;
}

.avatar {
  width: 380px;
  height: 550px;
  margin: 20px;
  display: flex;
  border: 5px solid #222;
}

.data {
  padding: 32px;
  padding-top: 24px;
  padding-left: 50px;
  display: inline-block;
}

.skill-list {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
  margin-top: 16px;
}

.skill {
  padding: 2px 12px;
  border-radius: 5px;
  display: flex;
  align-items: center;
  gap: 8px;
  font-weight: 500;
}
